@charset "UTF-8";
body {
	margin: 0px;
	padding: 0px;
	font-family: 'Montserrat', sans-serif;
}


/* картинка для проверки */
.test picture {
	position: absolute;
	margin: 0px;
	padding: 0px;
	top: -722px;
	pointer-events: none;
	z-index: 5;
	margin-top: 0px;
	opacity: 0;
}


/* общее */
html {
	font-size: 62.5%;
	font-family: 'Montserrat', sans-serif;
}

a {
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 500;
	color: white;
}

 ul {
	display: flex;
	align-items: center;
	list-style: none;
  box-sizing: border-box;
	padding:0px;
	margin: 0px;
}

/* заголовки */
@media (max-width:640px) {
	h2 {
		font-size: 22px;
		text-transform: uppercase;
	}

	.red-line {
		display: block;
		height: 3px;
		width: 40px;
		background-color: #CD0006;
		margin-top: -18px;
	}

	h3 {
		font-size: 17px;
		font-weight: 600;
		line-height: 22px;
	}
}

@media (min-width:641px) and (max-width:960px) {
	h2 {
		font-size: 29px;
		text-transform: uppercase;
	}

	.red-line {
		display: block;
		height: 4px;
		width: 55px;
		background-color: #CD0006;
		margin-top: -25px;
	}

	h3 {
		font-size: 18px;
		font-weight: 600;
		line-height: 26px;
	}
}

@media (min-width:961px) {
	h2 {
		font-size: 40px;
		text-transform: uppercase;
	}

	.red-line {
		display: block;
		height: 5px;
		width: 80px;
		background-color: #CD0006;
		margin-top: -35px;
	}

	h3 {
		font-size: 20px;
		font-weight: 600;
		line-height: 32px;
	}
}


/* НАЧАЛО - верхняя линейка меню - голубая _______________________________________________________________ верхняя линейка*/
.top-line{
	z-index: 10;
	top: 0px;
	width: 100%;
	background-color: rgba(38, 111, 153, 0.6);
	color: white;
	position: fixed;
}

.burger:hover {
	background-color: #266F99;
}
.find-mob:hover {
	background-color: #266F99;
	font-weight: 700;
}
.in-mob:hover {
	background-color: #266F99;
 	font-weight: 700;	
}

.pay {
	background-color: #266F99;
}
.log-in, .rega {
	display: flex;
	align-self: flex-end;
}
.rega>img, .log-in>img, .burger>img {
	height: 30px;
	margin-right: 10px;
	margin-left: 10px;
}
.rega:hover {
	background-color: #266F99;
	font-weight: 700;
	font-size: 14.7px;
	}
.log-in:hover {
	background-color: #266F99;
	font-weight: 700;
	font-size: 14.7px;	
}
.pay:hover {
	background-color: #185f87;
	font-weight: 700;
	font-size: 14.7px;
}

@media (max-width:640px) {
	.top-line, .top-nav-container {
		height: 60px;
	}
	.to-katalog, .contacts, .pay, .rega, .log-in {
			display: none;
}
	.burger, .find-mob, .in-mob {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 60px;
		height: 60px;
		margin: 0px 5px 0px 5px
  }
	.top-mob-tel {
		font-weight: 600;
		font-size: 24px;
		width: calc(100% - 180px);
		text-align: center;
	}
	
	@media (max-width:430px) {
.top-mob-tel {
	font-size: 0px;
	}	
}
	
	.find-mob, .in-mob {
		flex-direction: column;
		padding-top: 10px;
		box-sizing: border-box;
		font-size: 0px;
		margin-left:auto;
	}
	.burger>img, .find-mob>img, .in-mob>img {
		height: 28px;
	}

	.find-mob>p, .in-mob>p {
		font-size: 10px;
		line-height: 6px;
	}
}

@media (min-width:641px) and (max-width:960px) {
	.find-mob, .in-mob,.top-mob-tel, .to-katalog, .contacts {
		display: none;
	}
	.top-line {
		height: 50px;
	}
	
	.top-nav-container {
		height: 50px;
		display: flex;
		align-items: flex-start;
		position: relative;
	}
	.burger{
		display: flex;
		align-items: center;
		height: 50px;
		font-size: 15px;
		box-sizing: border-box;
		padding: 0px;
	}
	.pay{
		display: flex;
		align-items: center;
		height: 50px;
		font-size: 15px;
		box-sizing: border-box;
		padding: 0px 18px 0px 18px;
	}
	.log-in {
		display: block;
		position: absolute;
		right: 0px;
		top: 0px;
		height: 50px;
		font-size: 15px;
		box-sizing: border-box;
		padding: 0px 18px 0px 18px;
	}
	.log-in>img {
		display: inline-block;
		position: relative;
		margin-top: 6px;
	}
	.log-in>span {
		display: inline-block;
		position: relative;
		bottom: 8px
	}
	.rega {
		display: block;
		position: absolute;
		right: 235px;
		top: 0px;
		height: 50px;
		font-size: 15px;
		box-sizing: border-box;
		padding: 0px 18px 0px 18px;
	}
	.rega>img {
		display: inline-block;
		position: relative;
		margin-top: 6px;
	}
	.rega>span {
		display: inline-block;
		position: relative;
		bottom: 8px
	}
	@media (min-width:641px) and (max-width:700px) {
		.log-in {
			width: 170px;
		}
		.log-in>img {
			display: inline-block;
			position: relative;
			margin-top: 6px;
		}
		.log-in>span {
			display: inline-block;
			position: absolute;
			bottom: 5px;
		}
		.rega {
					right: 170px;

		}
	}
}

@media (min-width:961px) {
	.burger, .find-mob, .in-mob, .top-mob-tel {
		display: none;
	}
	
	.top-line {
		height: 50px;
		display: block;
		margin: auto;	
	}
	
	.top-nav-container {
		max-width: 1500px;
		position: relative;
		height: 50px;	
		align-items: flex-start;
		margin: auto;
		box-sizing: border-box;
	}
	
	.to-katalog, .contacts, .pay{
		box-sizing: border-box;
		padding: 0px 20px 0px 20px;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 50px;
		font-size: 20px;
}
	.log-in {
		display: block;
		position: absolute;
		right: 0px;
		top: 0px;
		height: 50px;
		font-size: 20px;
		box-sizing: border-box;
		padding: 0px 18px 0px 18px;
		box-sizing: border-box;
	}
	.log-in>img {
		display: inline-block;
		position: relative;
		margin-top: 10px;
	}
	.log-in>span {
		display: inline-block;
		position: relative;
		bottom: 8px
	}
	
		.rega {
		display: block;
		position: absolute;
		right: 284px;
		top: 0px;
		height: 50px;
		font-size: 20px;
		box-sizing: border-box;
		padding: 0px 18px 0px 18px;
	}
	.rega>img {
		display: inline-block;
		position: relative;
		margin-top: 10px;
	}
	.rega>span {
		display: inline-block;
		position: relative;
		bottom: 8px
	}

	.rega>img, .log-in>img, .to-katalog>img {
		height: 30px;
		margin-right: 10px;
		margin-left: 10px;
}
	.rega:hover {
		font-size: 19.6px;
}
	.log-in:hover {
		font-size: 19.6px;
}
.contacts:hover {
	background-color: #266F99;
	font-weight: 700;
	font-size: 19.6px;
}
		.to-katalog:hover {
		background-color: #266F99;
}	
	.pay:hover {
		font-size: 19.6px;
	}
		@media (max-width:1020px) {
		.log-in {
			width: 190px;
		}
		.log-in>img {
			display: inline-block;
			position: relative;
			margin-top: 6px;
		}
		.log-in>span {
			display: inline-block;
			position: absolute;
			bottom: 4px;
			line-height: 22px;
		}
		.rega {
					right: 190px;

		}
	}
}

/* КОНЕЦ верхняя синяя линейка меню */




/* НАЧАЛО нижняя черная линейка меню _______________________________________________________________ черная линейка */

	.bott-line{
  	background-color: black;
		position: fixed;
		z-index: 10;
		bottom: 0px;
		width: 100%;
		height: 70px;
		box-sizing: border-box;	
	}
.questions>img, .basket-bott>img  {
		height: 30px;
		margin-right: 10px;
	}
.bott-nav-container {
	width: 100%;
	box-sizing: border-box;
	justify-content: flex-end;
	position: relative;
	
}
.questions, .bank-desktop, .bank-tablet, .basket-bott {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	position: relative;
	padding: 0px 20px 0px 20px;
	height: 55px;
	right: 0px;
}
.basket-bott {
	background-color: #CD0006;
	right: 0px;
}

@media (max-width:640px) {
	.bank-tablet, .bank-desktop, .basket-bott, .questions {
		display: none;
	}

	.bott-mob {
		width: 25%;
	}
	.katalog-mob, .sale-mob, .pay-mob, .basket-mob {
		height: 70px;
		font-size: 9px;
		line-height: 10px;
		text-align: center;
		padding: 9px 20px 0px 20px;
		box-sizing: border-box;
	}
	
	@media (max-width:430px) {
		.katalog-mob>p {
			display: none;
		}
		.sale-mob>p {
			display: none;
		}
		.pay-mob>p {
			display: none;
		}
		.basket-mob>p {
			display: none;
		}
		.bott-line{
			height: 50px;}
	
		.pay-mob>img {
			border: 2px solid black;
		}
	}
	
	.katalog-mob {
		background-color: #CD0006;
	}
	
	.katalog-mob, .sale-mob, .pay-mob {
		border-right: 1px solid white;
	}
	.katalog-mob>img, .sale-mob>img, .basket-mob>img {
		height: 32px;
	}

	.pay-mob>img {
		height: 21px;
		margin-top: 1px;
	}
	
	.katalog-mob:hover {
		background: linear-gradient(to top, #FF242A, #CD0006);
		font-weight: 700;
	}
	
	.sale-mob:hover {
		background: linear-gradient(to top, #FF242A, #CD0006);
		font-weight: 700;
	}
	
	.pay-mob:hover {
		background: linear-gradient(to top, #FF242A, #CD0006);
		font-weight: 700;
	}
	
		.basket-mob:hover {
		background: linear-gradient(to top, #FF242A, #CD0006);
		font-weight: 700;
	}
}

@media (min-width:641px) and (max-width:960px){
	.katalog-mob, .bank-desktop, .sale-mob, .pay-mob, .basket-mob {
		display: none;
}
	.bott-line{
		display: flex;
		font-size: 16px;
		height: 55px;
}
	.bott-nav-container {
		display: flex;
		align-items: flex-end;
	}
	.questions {
		display: block;
		position: absolute;
		left:0px;
		bottom: 0px;
				width: 190px;
	}
	.questions-img {
		display: inline-block;
		position: absolute;
		top: 12px;
	}
	.questions-txt {
		display: inline-block;
		position: absolute;
		top: 16px;
		left: 62px;
	}
	.basket-bott:hover {
		background: linear-gradient(to top, #ff4229, #CD0006);
		font-weight: 700;
	}
	
	.questions:hover {
		font-weight: 700;
		background: linear-gradient(to top, #8e0105, black);
	}
}

@media (min-width:961px) {
	.katalog-mob, .bank-tablet, .sale-mob, .pay-mob, .basket-mob {
		display: none;
}
	.bott-line{
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 20px;
		height: 55px;
}
	.bott-nav-container {
		display: flex;
		align-items: flex-end;
		max-width: 1500px;
	}
	.questions {
		display: block;
		position: absolute;
		left:0px;
		bottom: 0px;
		width: 235px;
	}
	.questions-img {
		display: inline-block;
		position: absolute;
		top: 12px;
	}
	.questions-txt {
		display: inline-block;
		position: absolute;
		top: 16px;
		left: 62px;
	}
	.basket-bott:hover {
		background: linear-gradient(to top, #ff4229, #CD0006);
		font-weight: 700;
	}
	
	.questions:hover {
		font-weight: 700;
		background: linear-gradient(to top, #8e0105, black);
	}
}

/* КОНЕЦ нижняя черная линейка меню */






/* НАЧАЛО шапка _______________________________________________________________ шапка */
.head-baner {
	background-image: url("./img/Top_baner_mob.jpg");
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;	
	background-color: #BCCCDB;
}

@media (max-width:640px) {
	.header-info-container, .sub-menu, .main-menu{
		display: none;
	}
	.header-logo {
		margin-top: 73px;
		margin-bottom: 0px;
		display: block;
		text-align: center;
	}
	
	.header-logo>img {
	 height: 138px;
	}
 	.head-baner {
	 	margin: -26px 0px 0px 0px;
	 	height: 100%;
 	}
 	.baner-mob-txt1, .baner-mob-txt2 {
	 	color: white;
	 	font-size: 26px;
	 	text-transform: uppercase;
	 	line-height: 13px;
		text-align: center;
		font-weight: 500;
 	}
 	.baner-mob-txt1 {
		padding-right: 130px;
	 	padding-top: 70px;
 	}
 	.baner-mob-txt2 {
		padding-left: 30px;
 	}
 	.black-line-mob {
		display: block;
	 	height: 10px;
	 	width: 100%;
	 	background-color: black;
 	}
}

/* КОНЕЦ шапка */






/* НАЧАЛО хиты продаж _______________________________________________________________ хиты продаж */

.txt-header-container {
	display: flex;
	justify-content: center;
}

.product-card {
	position: relative;
	display: block;
	box-sizing: border-box;
}

.flags {
	position: absolute;
	display: flex;
	flex-direction: column;
	right: 0px;
	bottom: 20px;
}

	.flags>img {
		margin-top: 5px;
		_width: 70px;
	}

.articul {
	font-weight: 500;
	color: #7695A8;
}

.btm-to-basket:hover {
  background-color: rgba(205, 0, 6, 0.3);
	}

.product-photo {
	position: absolute;
	display: block;
}

@media (max-width:640px) {
	.btm-compare, .btm-more-info, .btm-compare-s, .product4 {
		display: none;
	}
	
	.hit {
		padding: 4px 20px 20px 20px;
	}
	
	.txt-header-container {
		margin-bottom: -10px;
	}

	.product-card {
		margin-top: 30px;
		border-bottom: 1px solid #BCCCDB;
}
	.product-photo {
		width: 120px;
		top: 0px;
}
	.articul {
		margin-left: 135px;
		font-size: 10px;
	}
	.product-name {
		margin-left: 135px;
		margin-top: -10px;
		margin-bottom: 19px;
	}
	.btm-to-basket {
		margin-left: 130px;
		display: inline-block;
		position: relative;
		height: 50px;
		width: 50px;
		border: 2px solid #CD0006;
		border-radius: 26px;
	}

	.btm-to-basket>img {
		position: absolute;
		top: 12px;
		left: 10px;
		height: 27px;
}
	.product-price {
		display: flex;
		flex-direction: row;
		box-sizing: border-box;
		margin-bottom: 20px
	}
	.all-price {
		display: flex;
		flex-direction: row;
		box-sizing: border-box;
	}
	.price {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		color: black;
    font-size: 30px;
		font-weight: 600;
		margin: 10px;
	}
	.rub {
		display: inline-block;
		font-size: 12px;
		font-weight: 600;
		padding-left: 5px;
	}
	.old-price{
		display: flex;
		font-size: 14px;
		color: #7695A8;
		font-weight: 700;	
		margin-top: 7px
	}	
	.old-price>img {
		position: absolute;
		width:55px;
		margin-top: 18px;
	}
	.old-rub {
		font-size: 8px;
	}
}

@media (max-width:430px){
	.product-photo {
   width: 80px;
		margin-left: -15px;
	}
	.articul {
		margin-left: 75px;
	}
	.product-name {
		margin-left: 75px;
	}
	.btm-to-basket {
		margin-left: -10px;
	}
		.hit {
		padding: 4px 5px 20px 20px;
	}
}

@media (min-width:641px) and (max-width:960px) {
	.txt-header-container {
		margin-bottom: 40px;
	}
	.product3, .product4, .product-btms {
		display: none;
	}
	
	.articul {
		font-size: 14px;
		margin: 0px;
	}
	.product-name {
		margin: 10px 0px 30px 0px;
	}
	
	.all-products {
		display: flex;
		width: 84%;
		margin: auto;
		border-left: 1px solid #BCCCDB;
		margin-bottom: 10px;
	}
	.product-card {
		padding: 0px 20px 0px 20px;
		display: flex;
		flex-direction: column;
		align-items: stretch;
		width:100%;
		border-right: 1px solid #BCCCDB;
	}
	.product-img {
		display: block;
		position: relative;
		box-sizing: border-box;
	}
	.product-img>img {
		display: block;
		position: relative;
		width: 90%;
	}

	.flags {
		position: absolute;
		display: flex;
		flex-direction: column;
		right: 0px;
		top: 0px;
	}
	.flags>img {
		margin-bottom: 5px;
		width: 80px;
	}
	.product-price {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		flex-direction: row-reverse;
		box-sizing: border-box;
	}
	.all-price {
		box-sizing: border-box;
	}
	
	.btm-to-basket {
		display: inline-block;
		position: relative;
		height: 57px;
		width: 57px;
		border: 2px solid #CD0006;
		border-radius: 30px;
		margin: 30px 0px 0px 0px;
	}

	.btm-to-basket>img {
		position: absolute;
		top: 15px;
		left: 11px;
		height: 30px;
	}
	
	.product-price {
		display: flex;
		flex-direction: row-reverse;
		align-items: flex-end;
		justify-content: space-between;
		box-sizing: border-box;
	}
	.all-price {
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
		box-sizing: border-box;
	}
	.price {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		color: black;
    font-size: 30px;
		font-weight: 600;
		margin: 0px;
		margin-top: -10px;
	}
	.rub {
		display: inline-block;
		font-size: 12px;
		font-weight: 600;
		padding-left: 5px;
	}
	.old-price{
		display: flex;
		font-size: 16px;
		color: #7695A8;
		font-weight: 700;	
		margin: -20px 0px 0px 0px;
	}	
	.old-price>img {
		position: absolute;
		width:65px;
		margin-top: 18px;
	}
	.old-rub {
		font-size: 10px;
		font-weight: 600;
	}
	.btm-compare-s {
		display: block;
		margin-bottom: -13px;
		color: #7695A8;
		font-weight: 600;
		font-size: 10px;
		box-sizing: border-box;
	}
	.btm-compare-s>img {
		width: 50px;
		box-sizing: border-box;
		margin: -10px auto -5px auto;
		display: block;
	}
}
	@media (min-width:641px) and (max-width:700px) {
	.btm-to-basket {
		height: 50px;
		width: 50px;
		margin: 35px 0px 0px 0px;
	}

	.btm-to-basket>img {
		position: absolute;
		top: 13px;
		left: 9px;
		height: 28px;
	}
	.btm-compare-s {
		margin-bottom: -10px;
		font-size: 8px;
		box-sizing: border-box;
	}
	.btm-compare-s>img {
		width: 40px;
		margin: -10px auto -5px auto;
	}
	.price {
    font-size: 27px;
		font-weight: 600;
		margin: 0px;
		margin-top: -10px;
	}
			.articul {
		font-size: 12px;
	}
	.product-name {
			font-size: 17px;
		margin: 10px 0px 30px 0px;
	}
}

@media (min-width:960px) {
	.hit {
		max-width: 1500px;
		display: block;
		margin: auto;
	}
	.txt-header-container {
		margin-bottom: 40px;
	}
	.btm-compare-s {
		display: none;
	}
	
	.articul {
		font-size: 14px;
		margin: 0px;
	}
	.product-name {
		margin: 10px 0px 30px 0px;
	}
	
	.all-products {
		display: flex;
		margin: auto;
		border-left: 1px solid #BCCCDB;
		margin-bottom: 10px;
	}
	.product-card {
		padding: 0px 20px 0px 20px;
		display: inline-block;
		_box-sizing: border-box;
		width:24%;
		border-right: 1px solid #BCCCDB;
	}
	.product-img {
		display: block;
		position: relative;
		box-sizing: border-box;
	}
	.product-img>img {
		display: block;
		position: relative;
		width: 90%;
	}

	.flags {
		position: absolute;
		display: flex;
		flex-direction: column;
		right: 0px;
		top: 0px;
	}
	.flags>img {
		margin-bottom: 5px;
		width: 80px;
	}
	.product-price {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		flex-direction: row-reverse;
		box-sizing: border-box;
	}
	.all-price {
		box-sizing: border-box;
	}
	
	.btm-to-basket {
		display: inline-block;
		position: relative;
		height: 57px;
		width: 57px;
		border: 2px solid #CD0006;
		border-radius: 30px;
		margin: 30px 0px 0px 0px;
	}

	.btm-to-basket>img {
		position: absolute;
		top: 15px;
		left: 11px;
		height: 30px;
	}
	
	.product-price {
		display: flex;
		flex-direction: row-reverse;
		align-items: flex-end;
		justify-content: space-between;
		box-sizing: border-box;
	}
	.all-price {
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
		box-sizing: border-box;
	}
	.price {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		color: black;
    font-size: 30px;
		font-weight: 600;
		margin: 0px;
		margin-top: -10px;

	}
	.rub {
		display: inline-block;
		font-size: 12px;
		font-weight: 600;
		padding-left: 5px;
	}
	.old-price{
		display: flex;
		font-size: 16px;
		color: #7695A8;
		font-weight: 700;	
		margin: -20px 0px 0px 0px;
	}	
	.old-price>img {
		position: absolute;
		width:65px;
		margin-top: 18px;
	}
	.old-rub {
		font-size: 10px;
		font-weight: 600;
	}
	.btm-compare-s {
		display: block;
		margin-bottom: -13px;
		color: #7695A8;
		font-weight: 600;
		font-size: 10px;
		box-sizing: border-box;
	}
	.btm-compare-s>img {
		width: 50px;
		box-sizing: border-box;
		margin: -10px auto -5px auto;
		display: block;
	}

}


/* КОНЕЦ хитов */






/* НАЧАЛО преимущества _______________________________________________________________ преимущества */
.benefits-container {
	display: flex;
	flex-flow: wrap;
	justify-content: space-around;
	margin-top: 20px auto 0px auto;
}

.benefit-info {
	width: 30%;
	margin-top: 20px;
	text-transform: uppercase;
}

.benefits-ico {
	display: block;
	width: 85px;
	height: 85px;
	border-radius: 46px;
}
	.benefits-ico:hover {
		background-color: rgba(118,149,168,0.1);
	}

@media (max-width:640px) {
.benefits {
	padding: 15px 20px 0px 20px;
}

.benefits-container {
	margin-top: 20px;
}

	.benefit-info {
		display: flex;
		flex-direction: column;
		text-align: center;
		font-weight: 600;
		font-size: 13px;
		color: #7695A8;	
	}
	.benefits-ico {
		display: block;
		margin: auto;
		border: 2px solid #7695A8;
		background-color: white;
	}
	.benefits-txt {
		display: block;
		margin: 0px;
		padding: 0px;
	}

}

@media (max-width:430px) {
	.benefits-ico {
		margin: auto;	
		width: 55px;
		height: 55px;
	}
	.benefit-info {
		font-size: 10px;	
	}
	.benefits {
		padding: 15px 10px 0px 10px;
	}
}

@media (min-width:641px) and (max-width:960px) {
	.benefits {
		background-image: url("./img/preim_bg.jpg");
		background-repeat: no-repeat;
		background-position: top;
		background-size: cover;	
		background-color: #BCCCDB;
		padding: 30px 10px 45px 10px;
	}

	.benefits-container {
		max-width: 700px;
		margin: auto;
	}

	.benefit-info {
		display: flex;
		flex-direction: row;
		font-weight: 600;
		font-size: 13px;
		line-height: 19px;
		color: white;
		margin-top: 5px;
		margin-bottom: 50px;
	}
	@media (min-width:641px) and (max-width:710px) {
		.benefit-info {
		font-size: 11px;
		line-height: 17px;
	}
	}

	.benefits-ico {
		border: 2px solid white;
		background-color: rgba(0,91,127,0.4);
		
	}
	.benefits-txt {
		display: inline-block;
		position: absolute;
		padding: 10px 10px 10px 95px;
	}
}

@media (min-width:960px) {
	.benefits {		
		display: block;
		margin: auto;
		position: relative;
		background-image: url("./img/preim_bg.jpg");
		background-repeat: no-repeat;
		background-position: top;
		background-size: cover;	
		background-color: #BCCCDB;
		padding: 40px 0px 30px 0px;
		box-sizing: border-box;
	  margin-bottom: 40px;
	}

	.benefits-all-container {
		max-width: 1500px;
		display: block;
		margin: auto;	
}
	.ben-container {
		max-width: 1100px;
	}
		.benefits-container {
			max-width: 1100px;
			margin-top: 50px;
	}

	.benefit-info {
		display: flex;
		flex-direction: row;
		align-self: auto;
		font-weight: 600;
		font-size: 20px;
		line-height: 26px;
		color: white;
		margin: 13px 0px 60px 0px;
	}

	.benefits-ico {
		border: 2px solid white;
		background-color: rgba(0,91,127,0.4);
		width: 110px;
		height: 110px;
		border-radius: 60px;
}
		
	.benefits-txt {
		display: inline-block;
		position: absolute;
		padding-left: 125px;
	}
@media (min-width:960px) and (max-width:1020px){	
	.benefit-info {
		font-size: 17px;
		line-height: 24px;
	}
}
}
	
/* КОНЕЦ преимущества */












/* НАЧАЛО банер _______________________________________________________________банер */
@media (max-width:640px) {
	.product-baner {
		display: none;
	}
	.product-baner-mob>img {
		display: block;
		position: relative;
		overflow: hidden;
		width: 100%;
		margin: 40px 0px 20px 0px;
	}
}
@media (min-width:641px) and (max-width:960px) {
		.product-baner-mob {
		display: none;
	}
	.product-baner>img {
		display: block;
		position: relative;
		overflow: hidden;
		width: 100%;
		margin: 40px 0px 20px 0px;
	}
}

@media (min-width:960px) {
		.product-baner-mob {
		display: none;
	}
	.product-baner>img {
		display: block;
		position: relative;
		overflow: hidden;
		width: 100%;
		max-width: 1500px;
		margin: 40px auto 20px auto;
	}
}

/* КОНЕЦ банер */







/* НАЧАЛО новости _______________________________________________________________ новости */

	.news-txt {
		font-size: 16px;
		line-height: 24px;
		margin-top: 0px;
	}
	.news-date {
		margin: 25px 0px 15px 0px;
		border-bottom: 1px solid #CD0006;
		color: #CD0006;
		font-size: 12px;
	}

	.big-news-header-container>img {
		display: block;
		width: 100%;
    height: 100%;			
		overflow: hidden;
		object-fit: fill;}

		.btm-grey {
		border: 1px solid #7695A8;
		border-radius: 48px;
		color: #7695A8;
		width: 140px;
		text-transform: uppercase;
		text-align: center;
		font-size: 16px;
		font-weight: 600;
		margin-top: 20px;
		margin-bottom: 60px;
	}

@media (max-width:640px) {
	.news-container {
		padding: 15px 20px 0px 20px;
	}

	.last-news, .big-news-header2  {
		display: none;
	}

	.big-news-header-container {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		position: relative;
		margin-bottom: 15px;
	}
	

	.big-news-header{
		position: absolute;
		color: white;	
		text-transform: uppercase;
		padding: 0px 5px 0px 10px;
		background-color: rgba(0, 65, 99, 0.5);
		width: 100%;
		box-sizing: border-box;
	}
	.big-news-header>h3 {
		font-size: 20px;
		line-height: 26px;
	}

	.news-header {
		font-weight: 700;
		font-size: 20px;
		line-height: 30px;
		margin: 0px;
	}

	.news-no-pic {	
		display: flex;
		flex-direction: column;
	}
	
	.btm-grey {
		margin: auto;
		padding: 13px 20px 13px 20px;
	}
		.btm-grey:hover {
			background-color: rgba(118,149,168,0.1);
			border: 2px solid #7695A8;
		padding: 12px 19px 12px 19px;
	}
}


@media (min-width:641px) and (max-width:960px) {
	.section-news {
		margin-top: -25px;
	}
	.news-container {
		margin-top: -8px;
		padding: 0px 40px 0px 40px;
	}

	.news-date {
		margin: 35px 0px 20px 0px;
		font-size: 14px;
	}
	.last-news, .big-news-header {
		display: none;
	}
	.big-news-body {
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-around;
		align-items: flex-start;	
	}

	.big-news-txt {
		display: block;
		width: 50%;
		padding-right: 20px;
	}
	.big-news-header-container {
		width: 50%;
		height: 100%;
		padding-left: 20px;
	}
	
		.big-news-header2{
		font-weight: 700;
		font-size: 20px;
		line-height: 30px;
		margin-top: 0px;
		margin-bottom: 5px;
		text-transform: uppercase;
	}

	.news-header {
		font-weight: 700;
		font-size: 20px;
		line-height: 30px;
		margin: 0px;
	}
		.news-no-pic {	
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: stretch;
	}

	.n1 {
		width: 50%;
		padding-right: 20px;
	}
		.n2 {
		width: 50%;
		padding-left: 20px;
	}
	

	.btm-grey {
		padding: 10px 15px 10px 15px;
		width: 120px;
		margin-top: 30px;
		margin-bottom: 20px;
		
	}
		.btm-grey:hover {
			background-color: rgba(118,149,168,0.1);
			border: 2px solid #7695A8;
		padding: 9px 14px 9px 14px;
	}
}

@media (min-width:960px) {
	.section-news {
		display: block;
		max-width: 1500px;
		margin: auto;
	}
	.big-news-header2 {
		display: none;
	}
	.news-container {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
	}
	.big-news {
		width: 50%;
		box-sizing: border-box;
		padding-right: 15px;
	}
	.news {
		width: 50%;
		box-sizing: border-box;
		padding-left: 15px;
	}
	
	.news-pic {
		display: block;
		width: 100%;
    height: 100%;			
		overflow: hidden;
		object-fit: cover;
	}
	.news-no-pic {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
	}
	.n1 {
		width: 49%;
		box-sizing: border-box;
		padding-right: 15px;
	}
 .n2 {
		width: 49%;
		box-sizing: border-box;
		padding-left: 15px;
	}
	
	.big-news-header-container {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		position: relative;
		margin-bottom: 15px;
	}
	
	.big-news-header{
		position: absolute;
		color: white;	
		text-transform: uppercase;
		padding: 0px 5px 0px 10px;
		background-color: rgba(0, 65, 99, 0.5);
		width: 100%;
		box-sizing: border-box;
	}
	.big-news-header>h3 {
		font-size: 20px;
		line-height: 26px;
	}
	
	.news-pic>img {
		width: 100%;
	}
	.news-pic {
		width: 49%;
		box-sizing: border-box;
		padding-right: 15px;
		display: inline-block;
	}
	.last-news-body {
		display: inline-block;
		width: 49%;
		box-sizing: border-box;
		padding-right: 15px;
	}
	.btm-grey {
		padding: 10px 15px 10px 15px;
		width: 140px;
		margin-top: 30px;
		margin-bottom: 20px;
	}
	.btm-grey:hover {
		background-color: rgba(118,149,168,0.1);	
		border: 2px solid #7695A8;
		padding: 9px 14px 9px 14px;
	}
}

/* КОНЕЦ новости */

/* НАЧАЛО скидки _______________________________________________________________ скидки */
.discount-container {
		display: flex;
		flex-flow: wrap;
		justify-content: space-around;
		margin-top: 20px;
	}

	.discount-info {
		width: 43%;
		margin-top: 20px;
		display: block;
		text-align: center;
		font-weight: 500;
		font-size: 10px;
		color: #7695A8;
	}
	.discount-pic>img {
		width: 100%;
		margin-bottom: -8px;
	}
@media (max-width:640px) {	
	.discount {
		padding: 15px 20px 0px 20px;
	}
		
}

@media (min-width:641px) and (max-width:960px) {
		.discount {
		padding: 15px 20px 0px 20px;
	}
	.discount-info {
				font-size: 14px;
	}
}
	
	@media (min-width:960px) {
		
	.discount {
		display: block;
		max-width: 1500px;
		margin: auto;
		}
		
		.discount-container {
		display: flex;
		flex-flow: nowrap;
		justify-content: space-between;
		margin-top: 20px;
	}
		.discount-info {
		width: 23%;
		margin-top: 20px;
		font-size: 16px;
	}
}

/* КОНЕЦ скидки */


/* НАЧАЛО подвал _______________________________________________________________ подвал */
@media (max-width:640px) {
	
	.f-menu-container {
		display: none;
	}
	
	footer {
		margin-top: 20px;
		padding: 40px 20px 65px 20px;
		background-image: url(./img/Padval_bg@2x.jpg);
		background-color: #08517c;
		background-repeat: no-repeat;
		background-position: left top;
		background-size: contain;
		color: white;
	}
	
	.footer-container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	
	.f-logo {
		width: 218px;
	}
	
	.f-soc {
		display: block;
		text-align: center;
	}
	
	.f-vk, .f-fb, .f-inst {
		display:inline-block;
		margin: 40px 10px 20px 10px;
		width: 54px;
		height: 54px;
		border: 1px solid white;
		border-radius: 30px;
	}
	
	.f-vk:hover {
		border: 2px solid white;
		background-color: rgba(255, 255, 255, 0.2); 
		width: 53px;
		height: 53px;

	}
	.f-fb:hover {
		border: 2px solid white;
		background-color: rgba(255, 255, 255, 0.2); 
		width: 53px;
		height: 53px;
	}	
	.f-inst:hover {
		border: 2px solid white;
		background-color: rgba(255, 255, 255, 0.2); 
		width: 53px;
		height: 53px;
	}
	
	.f-tel {
		font-size: 30px;
		font-weight: 600;
		line-height: 16px;
	}
	@media (max-width:350px) {
		.f-tel {
		font-size: 25px;
		line-height: 18px;
	}
	}
	
	.f-showroom {
		display: block;
		text-align: center;
		font-size: 18px;
		line-height: 30px;
	}
		.f-showroom>h3 {
		font-size: 24px;
		line-height: 30px;
		text-transform: uppercase;
}
	.f-adres {
		margin-top: -23px;
		padding: 0px 20px 0px 20px;
	}
	
	.f-week {
		font-weight: 700;
	}
	
	.f-mail {
		font-size: 22px;	
		line-height: 40px;
	}
	.copyright {
		font-size: 14px;
	}
	}
}

/* КОНЕЦ подвал */
